@tailwind base;
@tailwind component;
@tailwind utilities;

    
.homeContainer {
    display: flex;
    align-items: fiex;
    justify-content: space-between;
}

.childContainer {
    width: fit-content;
    height: 250px;
    align-items: baseline;
    margin: 40px;
    font-size: 50px;
    font-weight: 900;
}

.pickcolour{
    color:chocolate
}
